
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('riobg\ \(2\).jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.form{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid red;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 55%;
    animation: form 4s;

}
@keyframes form {
    from{
        transform: translateX(-80px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;

    }
}
h2{
    font-size: 2em;
    color: white;
    text-align: center;
    letter-spacing: 2px;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: white;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}
.forgettable{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;  
}

.forgettable label input{
    margin-right: 3px;
    
}
.forgettable label a{
    color: #fff;
    text-decoration: none;
}
.forgettable label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: red;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: .8px;
}
button:hover{
    box-shadow: 0 0 10px red,0 0 15px red;
    transition: 0.5s ease-in;
}
.reg{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.reg p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.reg p a:hover{
    text-decoration: underline;
}
.button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 25px;
    animation: btn1 3s;
}
.button:hover{
    box-shadow: 0 0  20px red, 0 0  30px red;
}
@keyframes btn1 {
    from{
        transform: translateX(30px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;

    }
}